include MANIFEST.in
include LICENCE.txt
include README.rst

include optimus_foundation_5/README.rst
include optimus_foundation_5/gemsets.txt
recursive-include optimus_foundation_5/sources *
recursive-include optimus_foundation_5/scripts *
